@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
}

.anime-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}

.anime-sub-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 28ch;
}